h1 {
  color: white;
  font-family: 'PT Sans', sans-serif;
  text-align: center;
}

body {
  background-image: url(../images/stressed_linen.png);
}

#gameboard {
  background-image: url(../images/lightpaperfibers.png);
  border-radius: 15px;
  margin: auto;
  margin-top: 35px;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 625px;
}

#button-row {
  background-image: url(../images/lightpaperfibers.png);
  border-radius: 5px;
  display: --webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  margin-top: 20px;
  padding: 5px;
  width: 625px;
}

button:hover {
  cursor: pointer;
}

/* to prevent blue highlight of elements on click */
button:focus {
  outline:0;
}

button {
  background-color: #ead4b3;
  border: 1px solid #aaa;
  border-radius: 4px;
  color: #2a2217;
  margin: 5px;
  padding: 6px 12px;
}

#footer {
  color: white;
  margin: auto;
  margin-top: 20px;
  padding: 5px;
  text-align: right;
  width: 625px;
}

#footer a {
  color: white;
}

.hover-move {
  color: #aaa;
  margin: 0;
  padding: 0;
}

/* To mark 3 in a row */
#winning-line {
  background-color: red;
  line-height: 1px;
  margin: 0px;
  padding: 0px;
  position: absolute;
}

#about-link:hover {
  text-decoration: underline;
}

#grid {
  height: 500px;
  margin: auto;
  width: 500px;
}

#grid td {
  font-size: 8em;
  height: 33.33%;
  padding: 0;
  text-align: center;
  width: 33.33%;
}

#grid td:hover {
  cursor: pointer;
}

#cell1,
#cell2,
#cell4,
#cell5,
#cell7,
#cell8 {
  border-right: 4px solid black;
}

#cell1,
#cell2,
#cell3,
#cell4,
#cell5,
#cell6 {
  border-bottom: 4px solid black;
}

/* Modal code */
/* About modal CSS */

.modal {
  background-color: rgba(0,0,0,0.9);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.modal p,table {
  color: #333;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 1em;
  line-height: 1.25;
  margin-top: 15px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
  text-decoration: none;
}

@-webkit-keyframes animatetop {

  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 100px;
    opacity: 1;
  }
}

@keyframes animatetop {

  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 100px;
    opacity: 1;
   }
}

.modal-content {
  animation-duration: .4s;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  -webkit-animation-name: animatetop;
  background-color: #fefefe;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  margin: auto;
  position: relative;
  text-align: center;
  top: 100px;
  width: 50%;
}

.modal-body img {
  max-height: 100%;
  max-width: 100%;
}

.modal-header {
  background-color: #fff;
  border-bottom: 1px solid #bbb;
  padding: 2px 16px;
}

.modal-header h2 {
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.8em;
  padding-bottom: 0.5em;
  padding-top: 0.8em;
  text-align: center;
}

.modal-body {
  padding: 1em;
}

.btn-choice {
  font-size: 4em;
  height: 100px;
  margin: 0 0.3em 0 0.3em;
  width: 100px;
}

#about-link,
#about-link:visited {
  color: white;
  font-size: 0.8em;
  text-decoration: none;
}

.modal-body a {
  color:#337ab7;
  text-decoration: none;
}

.modal-body a:visited {
  color:#337ab7;
  text-decoration: none;
}

.modal-body a:hover {
  color:#337ab7;
  text-decoration: underline;
}

.table-stats {
  border: 1px solid #333;
  border-collapse: collapse;
  margin-top: 1.5em;
  padding: 0;
  width: 100%;
}

.table-stats tr th {
  border: 1px solid black;
  font-weight: bold;
  padding: 0.5em;
}

.table-stats tr td {
  border: 1px solid black;
  padding: 0.5em;
}

.modal-footer {
  background-color: #ccc;
  height: 0.25em;
}

